.root{
	display: flex;
	// justify-content: flex-end;
}
.options{
	align-self: center;
	width: 63px;
	height: 22px;
	margin: 5px;
	font-size: 12px;
	border: 1px solid #c8ced3;
	background-color: #f0f3f5;
	border-radius: 5px;
	padding: 0;
}