.p-4 {
  padding: 4px;
}

.m-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.react-resizable {
  position: relative;
}


.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item img {
  pointer-events: none;
  user-select: none;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 0%;
  cursor: ew-resize;
  right: 0;
}

.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 408px;
  background-origin: content-box;
  box-sizing: border-box;
  background-position: bottom right;
}
