// Variable overrides
$sidebar-bg: #021524;
$sidebar-nav-link-active-bg: rgba(#FFFFFF, .10);
$sidebar-nav-link-color: #73818F;
$sidebar-nav-link-icon-color: #73818F;
$sidebar-nav-link-active-color: #FFFFFF;
$sidebar-nav-link-active-icon-color: #FFFFFF;