name: Yarn package

env:
  IMAGE: easeln/innometrics:${{ github.sha }}
  DOKKU_APP_URL: 'ssh://dokku@51.250.3.9/diplome'

on: push

jobs:
  # yarn_build:

  #   runs-on: ${{ matrix.os }}
  #   strategy:
  #     matrix:
  #       os: [ubuntu-latest]
      
  #   steps:
  #     - uses: actions/checkout@v3
  #     - name: Set up Node 10.x ${{ matrix.os }}
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: 10.24.1
  #         cache: npm
  #     - name: clean cache
  #       run: yarn cache clean
  #     # - name: browser list
  #     #   run: npx browserslist@latest --update-db
  #     - name: Install dependencies
  #       run: npm install #--legacy-peer-deps --force # npm install --legacy-peer-depsarc 
  #     - name: Test by Jest
  #       run: yarn test
  #       continue-on-error: true

  production:
      # needs: [ "yarn_build" ]
      name: Push Docker image to Docker Hub
      runs-on: ${{ matrix.os }}
      strategy:
        matrix:
          os: [ubuntu-latest]

      steps:
        - name: Checkout
          uses: actions/checkout@v2
        - name: Cache Docker layers
          uses: actions/cache@v2
          with:
            path: /tmp/.buildx-cache
            key: ${{ runner.os }}-buildx-${{ github.sha }}
            restore-keys: |
              ${{ runner.os }}-buildx-

        - uses: docker-practice/actions-setup-docker@master
          with:
            docker_version: 20.10
            docker_channel: stable

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v2

        - name: Set up Docker Buildx
          id: buildx
          uses: docker/setup-buildx-action@v2
        
        - name: Log in to Docker Hub
          uses: docker/login-action@v2
          with:
            username: easeln
            password: dckr_pat_aFmkm4OXdUgCMbEfu-4nd74ZXHg

        - name: Build and push
          uses: docker/build-push-action@v3
          with:
            context: .
            file: ./Dockerfile
            push: true
            tags: ${{ env.IMAGE }}

  push_to_dokku:
    name: Push to Dokku
    runs-on: ubuntu-latest
    needs: production
    steps:
      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: ${{ env.DOKKU_APP_URL }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          deploy_docker_image: ${{ env.IMAGE }}
            